# 인터넷 코드

In [1]:
#사전준비
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#데이터 읽기
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
#결손값 확인
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [3]:
# 나이만 결손값 처리
age_mean = df['age'].mean()
df['age'] = df['age'].fillna(age_mean) # 나이를 모르는 데이터들 때문에 값을 넣기 위해 평균으로 넣음

In [4]:
# 목적 변수와 설명 변수의 분할
df_x = df.drop(['survived','alive'], axis=1)
df_y = df['survived']

In [5]:
df_x

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alone
0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,False
1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,False
2,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,True
3,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,False
4,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,True
887,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,True
888,3,female,29.699118,1,2,23.4500,S,Third,woman,False,NaN,Southampton,False
889,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,True
890,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,True

In [6]:
# 목적 변수의 더미 변수화
df_x = pd.get_dummies(df_x)
df_x

,pclass,age,sibsp,parch,fare,adult_male,alone,sex_female,sex_male,embarked_C,...,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,3,22.000000,1,0,7.2500,True,False,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,1,38.000000,1,0,71.2833,False,False,1,0,1,...,0,0,1,0,0,0,0,1,0,0
2,3,26.000000,0,0,7.9250,False,True,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,35.000000,1,0,53.1000,False,False,1,0,0,...,0,0,1,0,0,0,0,0,0,1
4,3,35.000000,0,0,8.0500,True,True,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.000000,0,0,13.0000,True,True,0,1,0,...,0,0,0,0,0,0,0,0,0,1
887,1,19.000000,0,0,30.0000,False,True,1,0,0,...,0,1,0,0,0,0,0,0,0,1
888,3,29.699118,1,2,23.4500,False,False,1,0,0,...,0,0,0,0,0,0,0,0,0,1
889,1,26.000000,0,0,30.0000,True,True,0,1,1,...,0,0,1,0,0,0,0,1,0,0
890,3,32.000000,0,0,7.7500,True,True,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
# 학습용-테스트용 데이터로 분할
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df_x,df_y,random_state=1)

In [8]:
# 랜덤 포레스트 모델 생성
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200,random_state=1)

In [9]:
model.fit(train_x, train_y)

RandomForestClassifier(n_estimators=200, random_state=1)

In [10]:
# 랜덤 포레스트 모델의 점수
print(model.score(test_x,test_y))

0.7533632286995515

# 어레인지 코드

In [11]:
#사전준비
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#데이터 읽기
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
#결손값 확인
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [13]:
# 나이를 평균값으로 대체
df['age'] = df['age'].fillna(df['age'].mean())
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
# 성별 예측
df_x = df.drop(['sex', 'who', 'adult_male'], axis=1)
df_y = df['sex']

In [15]:
# 생존 예측
df_x = df.drop(['survived','alive'], axis=1)
df_y = df['survived']

In [16]:
# 목적 변수의 더미 변수화
df_x = pd.get_dummies(df_x)

In [17]:
# 학습용-테스트용 데이터로 분할
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df_x,df_y,random_state=2)

In [18]:
# 랜덤 포레스트 모델 생성
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=150,random_state=2)

In [19]:
model.fit(train_x, train_y)

RandomForestClassifier(n_estimators=150, random_state=2)

In [20]:
# 랜덤 포레스트 모델의 점수
print(model.score(test_x,test_y))

0.820627802690583

# 테스트

In [21]:
from sklearn.ensemble import RandomForestClassifier
model_randomforest = RandomForestClassifier(n_estimators=100,random_state=1)
model_randomforest.fit(train_x,train_y)

from sklearn import tree
model_tree = tree.DecisionTreeClassifier(max_depth=5, random_state=1)
model_tree.fit(train_x, train_y)

print('랜덤포래스트:',model_randomforest.score(test_x,test_y))
print('의사결정트리:',model_tree.score(test_x,test_y))

랜덤포래스트: 0.820627802690583
의사결정트리: 0.7937219730941704