# 판다스(Pandas) - 그룹별 집계

그룹별 집계  
동일한 객체를 가진 데이터만 뽑아 기술통계 데이터를 추출

In [88]:
import pandas as pd #pandas 모듈 호출
import numpy as np  #numpy 모듈 호출

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
            'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
            'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
            }

df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

집계 요약된 통계정보 추출  
agg함수:  min, 넘파이 mean등 기존함수 그대로 적용

In [89]:
df.groupby("Team")["Points"].sum()      # 그룹핑의 기준 열() ('team') ['Points']적용 받는 열 .sum() 적용받는 연산

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

멀티 인덱스 그룹별 집계 - 한 개 이상의 열을 기준으로 그룹별 집계 실행     - 해당 하는 열을 기준으로 그룹별 집계가 실행됨.

리스트를 사용하여 여러개의 열 이름을 기준으로 넣으면 여러 열이 키 값이 되어 출력   
계층적 인덱스 형태(hierarchical index)

한 개 이상의 열로 그룹별 집계를 수행하면 여러 열이 모두 인덱스로 반환됨.  - 그룹별로 묶어서 한번에 연산하기 쉽게 해줌.
groupby("열")["열"].연산자()

In [90]:
mlt_group = df.groupby("Team")["Rank"].sum()
mlt_group

Team
Devils    5
Kings     5
Riders    7
Royals    5
kings     4
Name: Rank, dtype: int64

In [91]:
multi_groupby = df.groupby(["Team", "Year"])["Points"].sum()        # 기준 ([열,열])    [열]적용 받는 열  
multi_groupby

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
kings   2015    812
Name: Points, dtype: int64

In [92]:
multi_groupby.index # 여러 열이 모두 인덱스로 반환됨. 앞서 그룹화 했던 모든 열들이 인덱스로 변환이 됨.

MultiIndex([('Devils', 2014),
            ('Devils', 2015),
            ( 'Kings', 2014),
            ( 'Kings', 2016),
            ( 'Kings', 2017),
            ('Riders', 2014),
            ('Riders', 2015),
            ('Riders', 2016),
            ('Riders', 2017),
            ('Royals', 2014),
            ('Royals', 2015),
            ( 'kings', 2015)],
           names=['Team', 'Year'])

In [93]:
# a = multi_groupby.index     # 모든 열들이 스칼라값으로 변경되서 나옴.
# a[0:3]      #

In [94]:
multi_groupby[0:3]

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
Name: Points, dtype: int64

한 개 이상의 열로 그룹별 집계를 수행하면 여러 열이 모두 인덱스로 반환됨.

In [95]:
multi_groupby["Devils":"Kings"]     # 그룹화 한 것 중에서 열이 "Devils"에서 부터 "Kings"에 해당하는 값을 모두 가져와라

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Name: Points, dtype: int64

In [96]:
multi_groupby["Devils":"Riders"]    # 그룹화 한 것 중에서 열이 "Devils"에서 부터 "Riders"에 해당하는 값을 모두 가져와라

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Name: Points, dtype: int64

In [97]:
multi_groupby

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
kings   2015    812
Name: Points, dtype: int64

두번째 인덱스를    열로 변화시켜 행렬의 형태로 데이터를 보여줌

In [98]:
multi_groupby.unstack()     # 두번쨰 인덱스 값인 "Year"가 위치를 옮겨서 행렬의 형태로 바뀜. <---- 위에 데이터랑 참고

Year     2014   2015   2016   2017
Team
Devils  863.0  673.0    NaN    NaN
Kings   741.0    NaN  756.0  788.0
Riders  876.0  789.0  694.0  690.0
Royals  701.0  804.0    NaN    NaN
kings     NaN  812.0    NaN    NaN

.swaplevel()    : 인덱스 간 레벨을 변경  
.sort_index()   : 첫 번째 인덱스를 기준으로 데이터 재정렬

In [99]:
multi_groupby.swaplevel()   # Team 과 Year의 인덱스 값이 서로 바뀜.

Year  Team
2014  Devils    863
2015  Devils    673
2014  Kings     741
2016  Kings     756
2017  Kings     788
2014  Riders    876
2015  Riders    789
2016  Riders    694
2017  Riders    690
2014  Royals    701
2015  Royals    804
      kings     812
Name: Points, dtype: int64

In [100]:
multi_groupby.swaplevel().sort_index()      # 첫 번째 인덱스 값인 2014를 기준으로 값이 정렬됨.

Year  Team
2014  Devils    863
      Kings     741
      Riders    876
      Royals    701
2015  Devils    673
      Riders    789
      Royals    804
      kings     812
2016  Kings     756
      Riders    694
2017  Kings     788
      Riders    690
Name: Points, dtype: int64

그룹화된 상태: 분할 -> 적용 -> 결합 중에서 분할까지만 이루어진 상태

.get_group() 해당 키 값을 기준으로 분할된 데이터프레임 객체를 확인

In [101]:
grouped = df.groupby("Team")        # grouped 안에 team으로 그룹화 된 상태 
grouped.get_group("Riders")     # team으로 그룹화된 상태인데 .get_group()으로 Riders만 다시 가져옴

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690

집계 agg() 요약된 통계 정보 추출   
agg 함수들 min, 넘파이, mean 등 기존 함수 그대로 적용 가능

In [102]:
grouped.agg(min)        # 모든 칼럼 마다 각 함수를 적용 시켜줌.

        Rank  Year  Points
Team
Devils     2  2014     673
Kings      1  2014     741
Riders     1  2014     690
Royals     1  2014     701
kings      4  2015     812

In [103]:
grouped.agg(sum)

        Rank  Year  Points
Team
Devils     5  4029    1536
Kings      5  6047    2285
Riders     7  8062    3049
Royals     5  4029    1505
kings      4  2015     812

In [104]:
grouped.agg(max)

        Rank  Year  Points
Team
Devils     3  2015     863
Kings      3  2017     788
Riders     2  2017     876
Royals     4  2015     804
kings      4  2015     812

In [105]:
grouped.agg(np.mean)

            Rank         Year      Points
Team
Devils  2.500000  2014.500000  768.000000
Kings   1.666667  2015.666667  761.666667
Riders  1.750000  2015.500000  762.250000
Royals  2.500000  2014.500000  752.500000
kings   4.000000  2015.000000  812.000000

변환(transformation) : 해당 정보를 변환  
키 값 별로 요약된 정보가 아닌 개별 데이터 변환 지원

In [ ]:
grouped.transform(max)      # 데이터를 바꿈. # 이미 grouped 에 team으로 그룹화가 된 상태.  grouped안에 있는 열 값들을 max로 출력 함.    햇갈리면 개발환경 5 110 페이지 그림 보기

    Rank  Year  Points
0      2  2017     876
1      2  2017     876
2      3  2015     863
3      3  2015     863
4      3  2017     788
5      4  2015     812
6      3  2017     788
7      3  2017     788
8      2  2017     876
9      4  2015     804
10     4  2015     804
11     2  2017     876

이미 있는 함수가 아닌 새롭게 정의 한 값도 적용이 가능함.

In [ ]:
score = lambda x : (x - x.mean()) / x.std()  #def 도 적용이 됨. 인자를 마음대로 정의 가능. # 여기서는 표준편차 공식을 사용해서 표준편차를 구하는 함수를 만듦
grouped.transform(score)

        Rank      Year    Points
0  -1.500000 -1.161895  1.284327
1   0.500000 -0.387298  0.302029
2  -0.707107 -0.707107  0.707107
3   0.707107  0.707107 -0.707107
4   1.154701 -1.091089 -0.860862
5        NaN       NaN       NaN
6  -0.577350  0.218218 -0.236043
7  -0.577350  0.872872  1.096905
8   0.500000  0.387298 -0.770596
9   0.707107 -0.707107 -0.707107
10 -0.707107  0.707107  0.707107
11  0.500000  1.161895 -0.815759

필터링도 가능. 여기서는 필터 안에 람다 함수를 넣음

In [ ]:
df.groupby('Team').filter(      # 데이터가 팀별로 3개 이상인 것 
    lambda x: len(x) >= 3)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690