# 판다스(Pandas) - 개요

판다스 파이썬의 데이터 분석 라이브러리  
데이터 테이블을 다루는 도구  
  
DataFrame: 데이터 테이블 전체 객체  (matrix)
Series 각 열 데이터를 다루는 객체 (colum)

시리즈 객체: 피쳐벡터와 같은 개념.  (각 열 데이터를 다룸)
1차원데이터를 저장하기 위한 데이터 구조  
생성된 데이터프레임 안에 포함될 수 있음.  
list, dict, ndarray등 다양한 데이터 타입이 시리즈 객체 형태로 변환되기도 함.   

각 데이터를 구분해 주는것이 주요 역할

In [2]:
import pandas as pd #pandas 모듈 호출
import numpy as np  #numpy 모듈 호출

from pandas import Series, DataFrame

list_data = [1,2,3,4,5]
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data, index=list_name) # 데이터 값 지정    인덱스 값 지정
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

index label 지정 가능.  
중복도 허용 즉 다양한 인덱스 레이블을 지정 가능함.

데이터: 기존 다른 객체처럼 값을 저장하는 요소  
인덱스, 항상 0 부터 시작하고 숫자로만 할당  
데이터 타입: 넘파이의 데이터 타입과 일치   
  
  문자열   object  
  정수     int64  
  실수     float64  
  참 거짓  bool  
  날짜     datetime64

In [15]:
dat2 = pd.Series(np.array([1,3,5,7]))
dat3 = pd.Series(np.array(['a', 'b', 'c', 'd']))
dat4 = pd.Series(np.array([1,'a',3.14,'b']))
print(dat2)
print(dat3)
print(dat4)  

# 다양한 데이터 타입을 Series 안에 넣을 수 있음.

0    1
1    3
2    5
3    7
dtype: int32
0    a
1    b
2    c
3    d
dtype: object
0       1
1       a
2    3.14
3       b
dtype: object

In [16]:
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [4]:
example_obj.index   # 인덱스 값 확인

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
example_obj.values  # 실제 들어있는 데이터 값 확인

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
type(example_obj.values)    # 데이터 타입 확인

numpy.ndarray

In [7]:
example_obj.dtype   # 데이터 타입 확인

dtype('int64')

시리즈 객체는 객체의 이름을 변경 가능  
열의 이름을 지정해주는 방식  
인덱스 이름도 추가로 지정가능

In [17]:
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [8]:
example_obj.name = "number"     # 객체의 이름 변경
example_obj.index.name = "id"   # 인덱스 이름 변경
example_obj

id
a    1
b    2
c    3
d    4
e    5
Name: number, dtype: int64

시리즈 객체 생성하기  
데이터프레임 객체를 먼저 생성하고 각 열에서 시리즈 객체를 뽑는 것이 일반적인 방법  
다양한 시퀀스형 데이터 타입으로 저장가능

In [9]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
example_obj = Series(dict_data, dtype=np.float32, name="example_data")  # 시리즈에 타입을 넣고, 이름을 'example_data'로 지정함
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

만든 데이터 값보다 많은 인덱스 값을 추가하면 NaN값이 출력됨.

In [10]:
dict_data_1 = {"a":1, "b":2, "c":3, "d":4, "e":5}
indexes = ["a","b","c","d","e","f","g","h"]     # 데이터 값보다 더 많은 값 입력
series_obj_1 = Series(dict_data_1, index=indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64

### 데이터프레임 객체  
데이터 테이블 전체를 지칭하는 객체  (matrix)
넘파이 배열의 특성을 그대로 가짐  
  
인덱싱: 열과 행 각각 사용하여 하나의 데이터에 접근

.read_확장자명() 데이터 로딩(데이터 읽기)

In [11]:
#데이터 URL을 변수 data_url에 넣기                                                                  # uci 검색해보기 
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data' 
#csv 데이터 로드
df_data = pd.read_csv(data_url, sep='\s+' , header = None)  # sep='\s+' 구분자
df = pd.DataFrame(df_data)  #읽어온 데이터를 데이터프레임 형태로 저장
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [12]:
from pandas import Series, DataFrame
# dict 타입 데이터에서 key는 열 이름, value(값)은 시퀀스형 데이터 타입을 넣어 각 열의 데이터로 만듦.
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73],
            'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])      # 데이터 프레임 객체를 생성하기 위해 DataFrame 함수 호출. 열은 지정해도 되고 안해도 됨.
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [18]:
from pandas import Series, DataFrame
# dict 타입 데이터에서 key는 열 이름, value(값)은 시퀀스형 데이터 타입을 넣어 각 열의 데이터로 만듦.
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73],
            'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = DataFrame(raw_data)      # 데이터 프레임 객체를 생성하기 위해 DataFrame 함수 호출. 열은 지정해도 되고 안해도 됨.
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [13]:
DataFrame(raw_data, columns = ["age", "city"])  # 원하는 열만 추출 할 수도 있음.

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [20]:
DataFrame(raw_data, columns = ["first_name"])

  first_name
0      Jason
1      Molly
2       Tina
3       Jake
4        Amy

데이터가 존재하지 않는 열을 추가하면 해당 열에는 NaN값이 추가 됨

In [21]:
DataFrame(raw_data, columns = ["first_name","last_name","age", "city", "debt"])

  first_name last_name  age           city debt
0      Jason    Miller   42  San Francisco  NaN
1      Molly  Jacobson   52      Baltimore  NaN
2       Tina       Ali   36          Miami  NaN
3       Jake    Milner   24        Douglas  NaN
4        Amy     Cooze   73         Boston  NaN